<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间必须是接口-->
<mapper namespace="com.prj.mapper.menu.MenuMapper">


    <resultMap id="menuMap" type="Menu">
        <id column="id" property="id"></id>
        <result column="title" property="title"></result>
        <result column="ispublic" property="ispublic"></result>
        <result column="istop" property="istop"></result>
        <result column="opentime" property="opentime"></result>
        <result column="scoreTime" property="scoreTime"></result>
        <result column="sumScore" property="sumScore"></result>
        <result column="isprivate" property="isprivate"></result>
        <association property="author" resultMap="userMap" javaType="Integer"></association>
    </resultMap>

    <resultMap id="userMap" type="User">
        <id column="uid" property="id"></id>
        <result column="uname" property="uname"></result>
    </resultMap>


    <!--查询正确答案-->
    <select id="queryExamAnswer" resultType="Exam">
        SELECT * FROM `exam` WHERE MID=#{mid}
    </select>

    <!--交卷-->
    <insert id="insertResult" parameterType="Result">
        INSERT INTO result(uid,result,TIME,MID,info) VALUES(#{user.id},#{result},#{time},#{menu.id},#{info})
    </insert>

    <!--加载登录人考试列表-->
    <select id="loadMenu" resultMap="menuMap">

        SELECT m.* FROM USER u,classes c,classmenu cm,menu m
         WHERE u.typeclass=c.id
         AND c.id=cm.classid
         AND m.id=cm.menuid
         AND m.ispublic=1
         AND m.id NOT IN (SELECT r.mid FROM result r WHERE r.mid=m.id)
         AND u.id=#{id}

    </select>

    <!--批量删除-->
    <delete id="delMenu">
        delete from menu where id in
        <foreach collection="ids" open="(" close=")" separator="," item="i">
            #{i}
        </foreach>
    </delete>


    <!--是否置顶-->
    <update id="updateIsTop">
        UPDATE `menu` SET istop=#{istop} WHERE id=#{id}
    </update>

    <!--查询试题-->
    <select id="queryMenu" resultMap="menuMap">
        SELECT
        m.id,
        m.title,
        u.uname,
        m.ispublic,
        m.istop,
        m.opentime,
        u.id uid,
        m.isprivate
        FROM
        `menu` m,
        USER u
        WHERE m.author = u.id
        AND u.id=#{user.id}
        AND m.isprivate=1
        <if test="title!=null">
            and title like concat('%',#{title},'%')
        </if>
        UNION
        SELECT
        m.id,
        m.title,
        u.uname,
        m.ispublic,
        m.istop,
        m.opentime,
        u.id uid,
        m.isprivate
        FROM
        `menu` m,
        USER u
        WHERE m.author = u.id
        AND m.isprivate=0
        <if test="title!=null">
            and title like concat('%',#{title},'%')
        </if>
        ORDER BY istop DESC
    </select>


    <!--定时任务修改发布状态-->
    <update id="updateTimerIsPublic">
        update menu set ispublic=1 where id=#{mid}
    </update>


    <!--添加试题-->
    <insert id="addMenu"   parameterType="Menu">
        INSERT INTO menu(id,title,author,url,ispublic,istop,opentime,scoreTime,sumScore,isprivate) VALUES(#{id},#{title},#{author.id},#{url},#{ispublic},#{istop},
        <if test="ispublic==1">
            (SELECT NOW())
        </if>
        <if test="ispublic==0">
            #{opentime}
        </if>
        ,#{scoreTime},#{sumScore},#{isprivate}
        )
    </insert>


    <!--中间表-->
    <insert id="addMenuClasses"   parameterType="Classmenu">
        INSERT INTO `classmenu`(classid,menuid) VALUES(#{classes.id},#{menu.id})
    </insert>


</mapper>